# Common Node.js & Dependency Files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build & Cache Folders
dist/
.next/
.cache/
coverage/
out/
.vscode/
.DS_Store

# Environment & Secrets
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
lerna-debug.log*

# Docker
docker-compose.override.yml
docker-compose.dev.yml
